<script type="text/template" id="tmpl_song">
    <p id="song_name"><%%=  %></p>
    // <%% if(note.get('body') == undefined) { %>
    //   <em>No body fot his note.</em>
    //   <%% } else { %>
    //   <p><%%= note.get('body') %></p>
    //   <%% } %>
    //   <hr />
</script>

<h1>Listing songs</h1>

<%= render :partial => 'form' %>

<br />

<div id='similar_songs_collection'>
</div>

 
