
<script type="text/template" id="tmpl_song">
<div class="similar_song" >
  
  <img class="song_image_medium" src="<%%=image[2]['#text']%>" width=126px>
  <div class="song_info">  
    <h2 class="song_name"><%%=name  %></h2></br>
    by <h2 class="artist_name"><%%=artist.name  %></h2>
    <p class="deezer_link"><%%=deezer.link %></p>
    
  </div>  
    
    
    <div class="song_dropdown">
      <div class="dropdown_contents">
        <audio controls>
            <source src="<%%=deezer.preview%>" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class="buttons">
        <button type="button" class="song_remove">Delete</button>
        <button type="button" class="deezer_send" data-deezer-id="<%%=deezer.id%>">Add</button>
        </div>
       </div> 
    </div>
 </div> 
</script>

<% if @current_user%>

  <%= render :partial => 'form' %>

  <div id='similar_songs_collection'>
  </div>

<%else%>
  <h2>(a deezer.com + last.fm mashup)</h2></br>
  
  <div id="tape_container">
    <div id="tape">
      <img id="tape_image" src="http://sweetclipart.com/multisite/sweetclipart/files/cassette_tape_retro.png" />
      <div id="sign_in_link">
        <h1><%= link_to 'Please sign in with deezer', user_omniauth_authorize_path(:deezer) %></h1>
      </div>
    </div>
  </div>
<%end%>  

 
