<script type="text/template" id="tmpl_song">
    <p id="song_name"><%%=name  %></p>
  
</script>

<h1>Listing songs</h1>

<%= render :partial => 'form' %>

<br />

<div id='similar_songs_collection'>
</div>

 
