<script type="text/template" id="tmpl_song">
<div class="similar_song" data-deezer-url="<%%=deezer.link%>">
    <img id="song_image" src="<%%=image[1]['#text'] %>">
    <p id="song_name"><%%=name  %></p>
    <p id="artist_name"><%%=artist.name  %></p>
    <p id="deezer_link"><%%=deezer.link %></p>
    
 </div> 
</script>

<h1>Listing songs</h1>

<%= render :partial => 'form' %>

<br />

<div id='similar_songs_collection'>
</div>

 
