<!doctype html>

<html>
<head>
  <meta charset='utf-8'>
  <title>MoreLikeThis</title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<body>
  <div id="container">
  <h1>More Like This</h1>
  <nav>
      <ul>
        <li><a href='/'>Home</a></li>
      </ul>
    </nav>
  <%= yield %>



  </div>
</body>
</html>