// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body {
  padding-top: 20px;
  text-align: center;
  
  font-family: monaco, monospace;
  background-color: #ddd;
  background-size: cover;
}
h1, h2 {
  margin: 20px 0;
  text-decoration: bold;
  display: inline-block;
  background: #fff;
}
h1 {
  font-size: 30px;
  line-height: 150%;
  padding: 0px 5px;
}
h2 {
  font-size: 20px;
  padding: 5px 8px;
}
#titles span {
  background: #fd0;
}

#tape_container, #similar_songs_collection {
  max-width: 600px;
  margin: auto;
  text-align: left;
}

#tape_container h1, #similar_songs_collection h1 {
  margin-bottom: 0;
  margin-left: 20px;
}

#tape_image {
  max-width: 600px;
  margin: 20px auto;
}

input {
  position: absolute;
  height: 42px;
  width: 450px;
  font-size: 25px;
  padding-left: 0px;
  text-align: center;
  font-family: monaco, monospace;
  border-radius: 10px
}

#song_submit input {
  height: 45px;
  width: 200px;
  font-family: monaco, monospace;
  background-color: #fd0;
  font-size: 25px;
  border-radius: 10px;
  
}

.song_dropdown {
 clear:both;
 margin-top: 30px;
 display: none;
}

.song_remove, .deezer_send{
  height: 30px;
  width: 100px;
  font-family: monaco, monospace;
  background-color: #fd0;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 8px;
}

.song_image_medium {
  float:left;
  margin-right: 15px;
}

.song_info h2 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.similar_song {
  border-bottom: dotted 2px #999;
  padding: 20px 0;
  min-height: 135px;
  padding-left: 75px;
}

audio {
 width: 400px;
 margin: 5px;
}

#tape {
  position:relative;
}

#sign_in_link {
  position:absolute;
  left:41px;
  top:46px;
  border-radius: 5px;
  display: block;

}


#artist_input {
  position:absolute;
  left:74px;
  top:245px;
}

#song_input {
  position:absolute;
  left:74px;
  top:68px;
}

#song_submit {
  position:absolute;
  left:205px;
  top:325px;
}

.buttons {
  margin-top: -10px;
}

.song_image_medium img {
  width: 126px;
}

#load_container {
  margin-top: -300px;
  width: 100%;
  text-align: center;
}

#load_gif {
  margin: 0 auto;
  background:url('http://sierrafire.cr.usgs.gov/images/loading.gif') no-repeat center center;
  height:500px;
  width:500px;
}

@media screen and (max-width:740px) {
  #tape_image {
  max-width: 500px;
  margin: 20px auto;
  }

  #tape_container, #similar_songs_collection {
    max-width: 500px;
    margin: auto;
    text-align: left;
  }

  #sign_in_link {
    position:absolute;

    left:31px;
    top:40px;
    border-radius: 5px;
    display: block;

  }

  #sign_in_link h1 {
    font-size: 25px;
  }

  #artist_input {
    position:absolute;
    left:68px;
    top:207px;
  }

  #song_input {
    position:absolute;
    left:68px;
    top:58px;
  }

  #song_submit {
    position:absolute;
    left:175px;
    top:274px;
  }

  input {
  position: absolute;
  height: 32px;
  width: 350px;
  font-size: 20px;
  padding-left: 0px;
  text-align: center;
  font-family: monaco, monospace;
  border-radius: 10px
  }

  #song_submit input {
  height: 35px;
  width: 150px;
  font-family: monaco, monospace;
  background-color: #fd0;
  font-size: 20px;
  border-radius: 10px;

  .song_dropdown {
  clear:both;
  margin-top: 30px;
  display: block;
}
  
}

}

