// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body {
  padding-top: 25px;
  padding-bottom: 60px;
  text-align: center;
  
  font-family: monaco, monospace;
  background-color: #ddd;
  background-size: cover;
}

#eject_link a:hover{
    text-decoration: none;
    background-color: none;
}

h1, h2 {
  margin: 20px 0;
  text-decoration: bold;
  display: inline-block;
  background: #fff;
}
h1 {
  font-size: 30px;
  line-height: 150%;
  padding: 0px 5px;
}
h2 {
  font-size: 20px;
  padding: 5px 8px;
}

button {
  border: none;
  outline: none;
}

#titles {
  margin-bottom: 25px;
  margin-top: 10px;
}

#titles span {
  background: #fd0;
}

#tape_container, #similar_songs_collection {
  max-width: 600px;
  margin:  5px auto -10px;
  text-align: left;
}

#tape_container h1, #similar_songs_collection h1 {
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 25px;
}

.tape_image {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
}

input {
  position: absolute;
  height: 42px;
  width: 450px;
  font-size: 25px;
  padding-left: 0px;
  text-align: center;
  font-family: monaco, monospace;
  border: none;
  border-radius: 10px;
  outline: none;
}

#song_submit input {
  height: 45px;
  width: 200px;
  font-family: monaco, monospace;
  background-color: #fd0;
  font-size: 25px;
  border-radius: 10px;
  
}


.song_dropdown {
 clear:both;
 margin-top: 30px;
 display: none;
}

.dropdown_contents{
  padding-top: 6px;
}

.song_remove, .deezer_send, .deezer_more{
  height: 30px;
  width: 140px;
  font-family: monaco, monospace;
  background-color: #fd0;
  font-size: 15px;
  border-radius: 10px;
  /*border-color: black;*/
  margin-top: 8px;
}

.song_image_medium {
  float:left;
  margin-right: 15px;
}

.song_info h2 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.similar_song {
  position: relative;
  border-bottom: dotted 2px #999;
  padding: 20px 0;
  min-height: 135px;
  padding-left: 75px;
}

audio {
 width: 400px;
 margin: 5px;
 display: none;
}

.song_player {
  display: none;
}

.play_icon {
  background-color: none;
position: absolute;
width: 70px;
left: 106px;
top: 44px;
display: none;
}

#tape {
  position:relative;
}

#cassette_cog1 {
  position: absolute;
  left: 130px;
  top: 150px;
}

#cassette_cog2 {
  position: absolute;
  left: 393px;
  top: 150px;
}

#cog1, #cog2 {
  width: 77px;
  
}

@-webkit-keyframes rotating2 {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}

.rotating1 {
    -webkit-animation: rotating2 1s linear infinite;
}

.rotating2 {
    -webkit-animation: rotating2 1.5s linear infinite;
}

.rotating5 {
    -webkit-animation: rotating1 1s linear infinite;
}

.rotating6 {
    -webkit-animation: rotating1 1.5s linear infinite;
}

@-webkit-keyframes rotating1 {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating3 {
    -webkit-animation: rotating1 3s linear infinite;
}

.rotating4 {
    -webkit-animation: rotating1 5s linear infinite;
}


#sign_in_link {
  position:absolute;
  left:100px;
  top:53px;
  border-radius: 5px;
  display: block;
  z-index: 1000;

}

#down_arrows {
  display: none;
}

#artist_input {
  position:absolute;
  left:75px;
  top:245px;
}

#song_input {
  position:absolute;
  left:70px;
  top:68px;
}

#song_submit {
  position:absolute;
  left:-10000px;
  top:325px;
  
}

#side_A_button{
  position: absolute;
  left: 210px;
  top: 326px;  
}

#side_B_button{
  position: absolute;
  left: 315px;
  top: 326px;  
}

#eject_link{
  position: absolute;
  left: 425px;
  top: 256px;  
}

#eject_link img {
  width: 240px;  
}

#song_submit button {
  border: solid 2px black;
}

#side_A_button button, #side_B_button button {
  border-radius: 10px;
  border: none;
  height: 50px;
  width: 80px;
  font-size: 30px;
  font-family: monaco, monospace;
}

.buttons {
  margin-top: -3px;
  margin-right: 5px;

}

.song_image_medium img {
  width: 126px;
  margin-bottom: 10px;
}



.selected {
  background-color: #fd0;
}

/* media specific */

@media screen and (max-width:740px) {
  #tape_image {
  max-width: 500px;
  margin: 20px auto;
  }

  #tape_container, #similar_songs_collection {
    max-width: 500px;
    margin: auto;
    text-align: left;
  }

  #sign_in_link {
    position:absolute;

    left:31px;
    top:40px;
    border-radius: 5px;
    display: block;

  }

  #sign_in_link h1 {
    font-size: 25px;
  }

  #artist_input {
    position:absolute;
    left:68px;
    top:207px;
  }

  #song_input {
    position:absolute;
    left:68px;
    top:58px;
  }

  #song_submit {
    position:absolute;
    left:168px;
    top:268px;
  }

  input {
  position: absolute;
  height: 32px;
  width: 350px;
  font-size: 20px;
  padding-left: 0px;
  text-align: center;
  font-family: monaco, monospace;
  border-radius: 10px
  }

  #song_submit input {
  height: 50px;
  width: 160px;
  font-family: monaco, monospace;
  background-color: #fd0;
  font-size: 20px;
  border-radius: 10px;
  }

  #cog1, #cog2 {
    width: 67px;
    
  }

  #cassette_cog1 {
    position: absolute;
    left: 107px;
    top: 129px;
  }

  #cassette_cog2 {
    position: absolute;
    left: 326px;
    top: 129px;
  }

  .play_icon {
  
  display: block;
  }

  #side_A_button{
    position: absolute;
    left: 7px;
    top: 267px;  
  }
}

